
/*  공용 CSS 파일에 공통적으로 지정할 스타일을 모아놓고
    간단하게 링크를 통해 불러올 수 있습니다. */
    @import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


a {
    text-decoration: none;
    color: inherit;
}
.clearfix {
    content: '';
    display: block;
    clear: both;
}
* {
    box-sizing: border-box;
}